<div class = "container" align = "center">
      <div class="row" style= "margin-top : 150px;border: 1px solid gray; ">
          <div class="col-sm-4 col-md-4" style=" height : 500px; ">
 
            <h1 style= "margin-top : 50px;">Sign up</h1>
            
             
            
             <form role="form" class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="MhhTUMPmifOT7ya/O6gUlzVDBEZKPvxmfmHZqNhT8Ig4XjbWgijAqYIZWQisaxvtOrIiFQ5W6veGNgIPhDlhmQ==" />
         
              <input type="underline" name="user[email]"  placeholder="Email Adrees"> <span class="glyphicon glyphicon-user" style="color:gray;" aria-hidden="true"></span>
          
              <input type="password"  style="border:none; border-bottom:1px solid gray; height:3rem; width:80%;" name="user[password]" placeholder="Password"> <span class="glyphicon glyphicon-lock" style="color:gray;" aria-hidden="true"></span>
             
              <input type="password" style="border:none; border-bottom:1px solid gray; height:3rem; width:80%;" name="user[password_confirmation]" placeholder="Password_cofirmation" id="user_password_confirmation" /> <span class="glyphicon glyphicon-lock" style="color:gray;" aria-hidden="true"></span>
              
               <input type="submit" name="commit" value="Sign up" class="btn btn-primary" />
             </form>
            <a href="/users/sign_in">Sign in</a><br />
            
            </body>
            </html>
          
            
          
          </div>
          <div class="col-sm-7 col-md-7"  style=" height : 500px; width : 650px; position: relative; right:0px;">
              <img src="/assets/signup_img.png" style=" height : 500px;  width : 650px; position: relative; right: 0px;" align="left" />
              <a href="/home/index"><img src="/assets/x_img.png" style=" height : 25px;  width : 25px; position: absolute; right: 10px; top:20px" align="right" /></a>
          </div>

      </div>  
</div>
