<div class = "container" align = "center">
      <div class="row" style= "margin-top : 150px;border: 1px solid gray; ">
          <div class="col-sm-4 col-md-4" style=" height : 500px; ">
 
            <h1 style= "margin-top : 50px;">Forgot your password?</h1>
             
            
            <form action="/users/password" method="post" style= "margin-top : 50px;">
              <input type="underline"  placeholder="Email Adrees"> <span class="glyphicon glyphicon-user" style="color:gray;" aria-hidden="true"></span>
<hr>
              <input type="IMAGE" src="/assets/password_send.png" style="height:30px ; margin-right:10px;" name="Submit" value="Submit" align="center" />

            </form>
<div>
              <a href="/users/sign_in"><img src="/assets/log_in_button.png" style="height:30px; position: relative; top:10px; " /></a>
              <a href="/users/sign_up"><img src="/assets/sign_up_button.png" style="height:30px; position: relative; top:10px; " /></a>
</div>
            </button>
            </body>
            </html>

            
          </div>
          <div class="col-sm-7 col-md-7"  style=" height : 500px; width : 650px; position: relative; right:0px;">
              <img src="/assets/login.png" style=" height : 500px;  width : 650px; position: relative; right: 0px;" align="left" />
              <a href="/home/index"><img src="/assets/x_img.png" style=" height : 25px;  width : 25px; position: absolute; right: 10px; top:20px" align="right" /></a>
          </div>

      </div>  
</div>
