<!DOCTYPE html>
<html>
  <head>
      <title>당신의 위험지수를 공유하는 Travel compass 입니다.</title>
    </head>
    <body>
        
        <table style="width:100%;">
    <tr>
        <td style="text-align:-moz-center;text-align:center;">
            <table style="width:200px;margin:auto;">
                <tr>
                    <td><br><br>
        <a href="/home/index"><img src="/assets/pop.png"  width="800" height="800"></br></br>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

       
  </body>
</html>
