<!DOCTYPE html>
<html>
<head>
  <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
  <script>
  tinymce.init({
    selector: '#mytextarea'
  });
  </script>
</head>

<body>

  
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="/">Travel Compass</a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">홈으로</a></li>
                  <li><a href="#">로그아웃</a></li>
                </ul>
                
            </div>
            
      </div>
    </nav>
    
    

    <form action="/home/pass" method="POST">
        <div class = "container" style=" margin-top: 100px;">
          <div class="form-group">
            <label for="exampleInputEmail1"> - 제목 - </label>
            <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요">
          </div>
            <br>
            <label for="exampleInputEmail1"> - 내용 - </label>
            <input type="text" value="<%= @one_post.id%>" name="id_of_post">
            <textarea id="mytextarea"class="form-control" rows="15" placeholder="내용을 입력해주세요" name="content"></textarea>
          <br>
            <button type="submit" class="btn btn-default"> 작성 </button>
    </form>
          
          
          <br>
          <br>
          <br>
      <footer>
        <p>&copy; Travel Compass. Team. 영남대학교 멋쟁이사자처럼 </p>
      </footer>
</div>
</body>
</html>